.todo{
    width: 100%;
    height: 100vh;
    position: relative;
}

.todo-inputs {

    border: none;
    outline: none;
}

.todo-inputs-div {

    border: 1px solid black;
    border-radius: 10px;
}

#textarea {
    display: none;
}

.todo-card{

    border: 1px solid black;
}
.todo-card-p{

    text-align: center;
    text-justify: inter-word;
}
.card-icon{

    font-size: 20px;
    cursor: pointer;
}
.card-icon-head{

    cursor: pointer;
}

.todo-update{
    width: 100%;
    height: 80vh;
    position: absolute;
    position: fixed;
    top: 70px;
    left: 0px;
    background-color: blanchedalmond;
    display: none;
}

.update{

    height: 100%;
}